---
import Layout from '../layouts/Layout.astro';
import MuscleApp from '../components/MuscleApp.tsx';
---

<Layout title="Anatomía Fit - Tu Guía Muscular">
  <main>
    <MuscleApp client:load />
  </main>
</Layout>
